* {
    margin: 0;
    padding: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.front {
    position: relative;
    display: flex;
    /* padding-top: 15rem; */
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
    height: 100vh;
    width: 100vw;
}

.front video {
    width: 50%;
    height: 50%;
}