* {
    margin: 0;
    padding: 0;
}
body
{
    background:black;
    overflow-x:hidden;
}
.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.ri
{
    height:150%;
    width:150%;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    .background {
        background: url('images/poster.png');
        background-size: cover;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}
@media screen and (orientation: portrait) {
    img.ri {
        max-width: 90%;
    }
}

@media screen and (orientation: landscape) {
    img.ri {
        max-height: 90%;
    }
}

.front {
    position: relative;
    display: flex;
    padding-right: 15rem;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
    height: 100vh;
    width: 100vw;
}
