@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    overflow-x: hidden;
    font-family: 'Rye', cursive;
}

.background {
    position: relative;
    height:100vh;
    width:100vw;
    overflow:hidden;
}
.videobg
{
    z-index:-1;
    position:absolute;
    width:auto;
    height:auto;
   min-height:100%;
    min-width:100%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    .background {
        background: url('images/poster.png');
        background-size: cover;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media screen and (orientation: portrait) {
    img.ri {
        max-width: 90%;
    }
}

@media screen and (orientation: landscape) {
    img.ri {
        max-height: 90%;
    }
}

.front {
    position: absolute;
    z-index:1;
    display: flex;
    /* padding-top: 15rem; */
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 5vw;
    color: #39FF14;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
}

.x p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.para {
    position: relative;
    margin: auto;
    width: 50%;
    padding: 10px;
    background: black;
}

.para:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: 1;
}

.para:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: 2;
    filter: blur(40px);
}

.para:before,
.para:after {
    background: linear-gradient(200deg, #89ff00, black, #00bcd4);
}

.x {
    height: 100vh;
    padding-top: 9rem;
    padding-left: 1vw;
    padding-right: 1vw;
    position: relative;
    color: white;
    ;
}
